.cuerpoindex{
    margin: 0;
    display: grid;
    grid-template-areas: "header header header"
                        "main main main"
                        "footer footer footer";

}

.imgtitulo{
    width: 120px;
    height: 120px;
}

.nav-link{
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 20px;
}

a.nav-link{
    text-decoration: none; 
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 20px;
    text-decoration: none;
}

a.nav-link:visited {
    text-decoration: none; 
    color:#e0b105;
}

a.nav-link:hover {
    text-decoration: none;
    background: #e0b105;
    color: black;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: #e0b105;
    color: black;
}



.cuerposedes{
    margin: 0;
    display: grid;
    grid-template-areas: "header header header"
                        "main1 main1 main1"
                        "footer footer footer";

}

.cuerpoplanes{
    margin: 0;
    display: grid;
    grid-template-areas: "header header header header"
                        "mainplanes mainplanes mainplanes mainplanes"
                        "footer footer footer footer";

}

.cuerponosotros{
    margin: 0;
    display: grid;
    grid-template-areas: "header header"
                        "mainnosotros mainnosotros"
                        "footer footer";

}

.cuerpoanotate{
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                        "mainanotate"
                        "footer";

}

.cuerpogracias{
    margin: 0;
    display: grid;
    grid-template-areas: "header"
                        "maingracias"
                        "footer";

}

.contenedor{
    grid-area: header;
    background-color: black;
    width: 100%;
    position:fixed;
    z-index: 1;
}

.nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color:#e0b105;
}

.menu1{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding: 0%;
    gap: 2rem;
}

.menu2{
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding:0%;
}

.titulo{
    text-decoration: none; 
    color: black;
    margin: 0;
    font-family: 'Bevan', cursive;
    font-size: 42px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}

.opciones{
    text-decoration: none; 
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 20px;
}

.links{
    text-decoration: none; 
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 20px;
    text-decoration: none;}

a.links{
    text-decoration: none; 
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 20px;
    text-decoration: none;
}

a.links:visited {
    text-decoration: none; 
    color:#e0b105;
}

a.links:hover {
    text-decoration: none;
    background: #e0b105;
    color: black;
}

footer{
    grid-area: footer;
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 25px;
    text-align: center;
    width: 100%;
}


.footertitulo{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 25px;
    width: 100%;
    margin: 0;
}

.pie{
    list-style: none;
    display: flex;
    width: 900px;
    justify-content:center;
    gap:4rem;
    align-items:center;
    margin:0;
    margin-top: 1rem;
    padding: 0;
    width: 100%;
}

.aptomedico{
    font-family: 'Exo', sans-serif;
    color:white;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
}

a.link{
    text-decoration: none;
    color: black;
    font-size: 42px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}

a.link:visited {
    text-decoration: none; 
    font-family: 'Bevan', cursive;
    color: black;
    font-size: 42px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}

a.link:hover {
    text-decoration: none; 
    color: black;
    font-family: 'Bevan', cursive;
    font-size: 42px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}

main{
    margin-top: 128px;
    grid-area: main;
    background-color: rgb(219, 219, 218);
}

mainresto{
    grid-area: main1;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 128px;
    background: rgb(55,55,57);
    background: linear-gradient(274deg, rgba(55,55,57,1) 0%, rgba(171,170,81,1) 35%, rgba(255,255,175,1) 100%);
    align-items: center;
}

.imagenydescri{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.comollegarycontacto{
    display: flex;
    flex-direction: row;
    width: 90%;
}

mainplanes{
    margin-top: 128px;
    grid-area: mainplanes;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: rgb(55,55,57);
    background: linear-gradient(274deg, rgba(55,55,57,1) 0%, rgba(171,170,81,1) 35%, rgba(255,255,175,1) 100%);
    row-gap: 10px;
}

mainnosotros{
    margin-top: 128px;
    grid-area: mainnosotros;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: rgb(55,55,57);
    background: linear-gradient(274deg, rgba(55,55,57,1) 0%, rgba(171,170,81,1) 35%, rgba(255,255,175,1) 100%);
    row-gap: 10px;
}

mainanotate{
    grid-area: mainanotate;
    margin-top: 128px;
    grid-template-columns:1;
    width: 100%;
    background: rgb(55,55,57);
    background: linear-gradient(274deg, rgba(55,55,57,1) 0%, rgba(171,170,81,1) 35%, rgba(255,255,175,1) 100%);
}

maingracias{
    grid-area: maingracias;
    margin-top: 128px;
    display: grid;
    grid-template-columns:1;
    grid-template-rows: 40% 60%;
    width: 100%;
    height: 370px;
    align-self: center;
    justify-self: center;
    background: rgb(55,55,57);
    background: linear-gradient(274deg, rgba(55,55,57,1) 0%, rgba(171,170,81,1) 35%, rgba(255,255,175,1) 100%);
}

.mainsedes{
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 50px;
}

.mainsedes1{
    margin: 0;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 40px;
    margin-top: 10px;
}

.descri{
    margin: 0;
    width: 90%;
    justify-self: center;
    align-self: center;
    border-top: 5px #e0b105 solid;
    border-bottom: 5px #e0b105 solid;
    padding-bottom: 15px;
    font-size: 15px;
    font-family: 'Archivo Narrow', sans-serif;
    color: black;
}

.imagen{
    width: 100%;
    height: auto;
    align-self: center;
}


.carta{
    border: solid 5px #e0b105;
    width: 60%;
    background-color: black;
}

.llegar{
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 30px;
    margin: 0;
}

.datos{
    font-family: 'Dosis', sans-serif;
}

.imgcontacto{
    opacity: 1;
}

.datos img{
    justify-self: end;
}

.titulocontacto{
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 30px;
    color: black;
}

.minitexto{
    margin: 0;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

.datos img{
    margin-right: 10px;

}

.botonmini{
    height:45px;
    width:90px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
border: solid black 2px;
}


.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(224,177,5, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.custom-toggler.navbar-toggler {
    border-color:#e0b105;
    background-color: black;
} 

.sede{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://northernvirginiamag.com/wp-content/uploads/2019/09/gold-feature-2.jpg);
}

.planes{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://img.etimg.com/photo/msid-74747053,quality-100/for-miles-a-great-bodyweight-workout-would-include-squats-push-ups-walking-lunges-.jpg);
}

.nosotros{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://www.wellnessliving.com/blog/wp-content/uploads/2019/04/Gym-Staff-Candidates.jpg);
}

.anotate{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 320px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://m8group.co.uk/wp-content/uploads/2020/02/want-a-weight-loss-calorie-burning.jpg);
}

.categorias{
    width: 80%;
    display: flex;
    justify-content: center;
    align-self: center;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    margin: 0;
    margin-top: 100px;
    background-color: black;
    opacity: 0.75;
    color: white;

}

.texto99{
    font-family: 'Archivo Narrow', sans-serif;
    width: 80%;
    justify-content: center;
    align-self: center;
    opacity: 0.9;
    font-size: 15px;
    background-color:#e0b105;
    color: black;
    margin:0;
    margin-bottom: 10px;
}

.linkmenu{
justify-content: center;
align-self: center;
background-color: black;
font-family: 'Dosis', sans-serif;
color: white;
font-size: 20px;
opacity: 0.8;
}

a.linkmenu {
    text-decoration: none;
}

a.linkmenu:visited {
    color:white;
}

a.linkmenu:hover {
    background: red;
    color: black;
    box-shadow: 5px 5px 3px black, -5px -5px 3px black;
}

.introPlan{
    margin: 0;
    grid-column: 1/5;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 50px;
    margin-top: 10px;
    justify-self: center;
}

.descriplan{
    margin: 0;
    grid-column: 1/5;
    align-self: center;
    justify-self: center;
    padding-bottom: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    border-bottom: 5px #e0b105 solid;
    border-top: 5px #e0b105 solid;
}

.despedidaplanes{
    margin: 0;
    grid-column: 1/5;
    justify-self: center;
    align-self: center;
    padding-bottom: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 35px;
    display: flex;
}


.anotate2{
    text-decoration: none; 
}

a.anotate2 {
    text-decoration: none;
    margin: 0;
    color: black;
    font-size: 35px;
    margin-left: 15px;
    font-weight: bolder;
}

.anotate2 p{
    text-decoration: none;
    margin: 0;
    margin: 0;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: bolder;
}

a.anotate2:visited {
    margin: 0;
    margin-left: 15px;
    color:black;
}

a.anotate2:hover {
    margin: 0;
    margin-left: 15px;
    color: #e0b105;
    text-shadow: 0 0 5px black;
}

.clases{
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 2rem;
    border: solid #e0b105 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.clases1{
    display: grid;
    grid-template-rows: auto auto auto auto;
    row-gap: 2rem;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.textoclass{
    justify-self: center;
    align-self: flex-start;
}

.textoclass1{
    margin: 0;
    justify-self: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 27px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    border-bottom: solid 3px #e0b105;
}

.textoclass2{
    margin: 0;
    display: flex;
    align-items: center;
    justify-self: center;
    align-self: center;
    text-align:center;
    height: 145px;
    width: 80%;
    font-family: 'Dosis', sans-serif;
    background-color: black;
    opacity: 0.75;
    color: white;
}

.textoprecio{
    justify-self: center;
    align-self: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.precio{
    margin: 0;
    justify-self: center;
    align-self: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 27px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}

.monto{
    margin: 0;
}

.Nosotros{
    margin: 0;
    grid-column: 1/3;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 50px;
    margin-top: 10px;
    justify-self: center;
}

.descrinosotros{
    margin: 0;
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    padding-bottom: 15px;
    font-family: 'Titillium Web', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    width: 90%;
    border-bottom: 5px #e0b105 solid;
    border-top: 5px #e0b105 solid;
}

.titulos{
    margin: 0;
    grid-column: 1/3;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 40px;
    margin-top: 10px;
    justify-self: center;

}

.titulo2{
    margin: 0;
    grid-column: 1/3;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}


.foto{
    justify-self: flex-end;
    margin-right: 70px;
    align-self: center;
}

.descrinosotros2{
    justify-self: flex-start;
    align-self: center;
    width: 60%;
    display: grid;
    grid-template-rows: 30% 70%;
    row-gap: 10px;
    margin-left: 10px;
}

.persona{
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
}

.todainfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.todotexto{
    display: grid;
    grid-template-rows: 30% 70%;
    row-gap: 10px;
    justify-self: flex-start;
    align-self: center;
    width: 80%;
    margin-left: 10px;
}

.persona1{
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    margin-left: 10px;
}

.comentario1{
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.comentario{
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.anotatecuestionario{
    width:400px;
    background: black;
    padding: 30px;
    margin:auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'Dosis', sans-serif;
    color: #e0b105;
    box-shadow: 7px 13px 37px #e0b105;
    margin-bottom: 20px;
}

.botons{
    width:150px;
    background: black;
    border: solid #e0b105 1px;
    color: #e0b105;
}

.botons:hover{
    cursor: pointer;
    color: black;
    background: #e0b105;
}

.elegir{
    background-color: black;
    border: double #e0b105 1px;
    color: #e0b105;
}

.placeh{
    background-color: black;
    border: double #e0b105 1px;
    color: #e0b105;
}

.placeh:focus{
    background-color: #e0b105;
    color: black;
}

.tituloanotate{
    margin: 0;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 50px;
    justify-self: center;
    margin-top: 10px;
}

.tituloydescri{
    text-align: center;
}

.descrianotate{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    justify-self: center;
    margin-top: 20px;
}

.gracias{
    margin: 0;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 40px;
    margin-top: 10px;
    align-self: center;
    justify-self: center;
}

.botongracias{
    justify-self: center;
}

.adentroboton:hover {
    cursor: pointer ;
}

.adentroboton{
    width:350px;
    height: 80px;
    background: black;
    border: solid #e0b105 1px;
    color: #e0b105;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
}

@media screen and (max-width:540px) {
    .titulo{
        font-size: 30px;
    }
    .navbar-brand{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .imgtitulo{
        width: 80px;
        height: 80px;
    }
}