.contenedor{
    display:flex;
    background-color: black;
    height:8rem;
    justify-content:space-between;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 1;
}

.menu1{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding: 0%;
    gap: 2rem;
}

.menu2{
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding:0%;
}

.titulo{
    font-family: 'Bevan', cursive;
    font-size: 42px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}

.opciones{
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 20px;
}

a.links{
    text-decoration: none;
}

a.links:visited {
    color:#e0b105;
}

a.links:hover {
    background: #e0b105;
    color: black;
}

footer{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 25px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 870px;
    left: 0px;
}

.pie{
    list-style: none;
    display: flex;
    width: 900px;
    justify-content:center;
    gap:4rem;
    align-items:center;
    margin:0;
    margin-top: 1rem;
    padding: 0;
    width: 100%;
}

footer p{
    font-family: 'Exo', sans-serif;
    color:white;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
}

a.link{
    text-decoration: none;
}

a.link:visited {
    font-family: 'Bevan', cursive;
    color: black;
    font-size: 42px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}

a.link:hover {
    font-family: 'Bevan', cursive;
    font-size: 42px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}

main{
    position: absolute;
    display: grid;
    grid-template-columns:1;
    width: 100%;
    top:128px;
    left:0;
    background-image: url(https://storage.googleapis.com/m-infra.appspot.com/public/res/lucasbbot/20220324-u4tMROu7R3gSBzyRBBevjVxY9ny2-QW6VH-.png);
    background-repeat:no-repeat;
    background-size: cover;
}


.anotate{
    width:400px;
    background: black;
    padding: 30px;
    margin:auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'Dosis', sans-serif;
    color: #e0b105;
    box-shadow: 7px 13px 37px #e0b105;
    margin-bottom: 20px;
}

.botons{
    width:150px;
    background: black;
    border: solid #e0b105 1px;
    color: #e0b105;
}

.elegir{
    background-color: black;
    border: double #e0b105 1px;
    color: #e0b105;
}

.placeh{
    background-color: black;
    border: double #e0b105 1px;
    color: #e0b105;
}

.titulo{
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 50px;
    justify-self: center;
    margin-top: 10px;
}

.descri{
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    justify-self: center;
    margin-top: 20px;
}