.contenedor{
    display:flex;
    background-color: black;
    height:8rem;
    justify-content:space-between;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
    z-index: 1;
}

.menu1{
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: 1rem;
    padding: 0%;
    gap: 2rem;
}

.menu2{
    list-style: none;
    display: flex;
    align-items: flex-end;
    gap: 2rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    padding:0%;
}

.titulo{
    text-decoration: none; 
    color: black;
    margin: 0;
    font-family: 'Bevan', cursive;
    font-size: 42px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}
.opciones{
    text-decoration: none; 
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 20px;
}

.links{
    text-decoration: none; 
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 20px;
    text-decoration: none;}

a.links{
    text-decoration: none; 
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 20px;
    text-decoration: none;
}

a.links:visited {
    text-decoration: none; 
    color:#e0b105;
}

a.links:hover {
    text-decoration: none;
    background: #e0b105;
    color: black;
}

footer{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 25px;
    text-align: center;
    position: absolute;
    top: 768px;
    left: 0;
    width: 100%;
}


footer1{
    width: 100%;
    background-color: black;
    position: absolute;
    text-align: center;
    top: 2250px;
    left: 0px;
}

footer2{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 25px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 1050px;
    left: 0px;
}

footer3{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 25px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 1524px;
    left: 0px;
}

footer4{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 25px;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 870px;
    left: 0px;
}

footer5{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 25px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom:0px;
    left: 0px;
}

.footertitulo{
    background-color: black;
    font-family: 'Oswald', sans-serif;
    color:#e0b105;
    font-size: 25px;
    width: 100%;
    margin: 0;
}

.pie{
    list-style: none;
    display: flex;
    width: 900px;
    justify-content:center;
    gap:4rem;
    align-items:center;
    margin:0;
    margin-top: 1rem;
    padding: 0;
    width: 100%;
}

.aptomedico{
    font-family: 'Exo', sans-serif;
    color:white;
    font-size: 15px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    margin: 0;
}

a.link{
    text-decoration: none;
    color: black;
    font-size: 42px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}

a.link:visited {
    text-decoration: none; 
    font-family: 'Bevan', cursive;
    color: black;
    font-size: 42px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}

a.link:hover {
    text-decoration: none; 
    color: black;
    font-family: 'Bevan', cursive;
    font-size: 42px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}

main{
    background-color: rgb(219, 219, 218);
    position: absolute;
    top:128px;
    left:0;
    padding:0;
    z-index: -1;
}

mainresto{
    position: absolute;
    top:128px;
    left:0;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    background-image: url(https://storage.googleapis.com/m-infra.appspot.com/public/res/lucasbbot/20220324-u4tMROu7R3gSBzyRBBevjVxY9ny2-QW6VH-.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    column-gap: 10px;
    row-gap: 10px;
}

mainplanes{
    position: absolute;
    top:128px;
    left:0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background-image: url(https://storage.googleapis.com/m-infra.appspot.com/public/res/lucasbbot/20220324-u4tMROu7R3gSBzyRBBevjVxY9ny2-QW6VH-.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    row-gap: 10px;
}

mainnosotros{
    position: absolute;
    top:128px;
    left:0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-image: url(https://storage.googleapis.com/m-infra.appspot.com/public/res/lucasbbot/20220324-u4tMROu7R3gSBzyRBBevjVxY9ny2-QW6VH-.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    row-gap: 10px;
}

mainanotate{
    position: absolute;
    display: grid;
    grid-template-columns:1;
    width: 100%;
    top:128px;
    left:0;
    background-image: url(https://storage.googleapis.com/m-infra.appspot.com/public/res/lucasbbot/20220324-u4tMROu7R3gSBzyRBBevjVxY9ny2-QW6VH-.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

maingracias{
    position: absolute;
    display: grid;
    grid-template-columns:1;
    grid-template-rows: 40% 60%;
    width: 100%;
    height: 400px;
    align-self: center;
    justify-self: center;
    top:128px;
    left:0;
    background-image: url(https://storage.googleapis.com/m-infra.appspot.com/public/res/lucasbbot/20220324-u4tMROu7R3gSBzyRBBevjVxY9ny2-QW6VH-.png);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mainsedes{
    grid-column: 1/3;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    margin: 0;
    font-size: 50px;
    margin-top: 10px;
    justify-self: center;
}

.mainsedes1{
    margin: 0;
    grid-column: 1/3;
    justify-self: flex-start;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-left: 100px;
}

.descri{
    margin: 0;
    grid-column: 1/3;
    width: 90%;
    justify-self: center;
    align-self: center;
    padding-bottom: 15px;
    border-bottom: 5px #e0b105 solid;
    border-top: 5px #e0b105 solid;
    font-family: 'Titillium Web', sans-serif;
    font-size: 15px;
}

.imagen{
    grid-column: 1/2;
    justify-self: center;
    height: 280px;
    align-self: center;
    margin-left: 50px;
    border: 5px #e0b105 solid;
}


.descri2{
    display: grid;
    grid-row: 1fr 1fr;
    grid-column: 2/3;
    border-right: 5px #e0b105 solid;
    border-top: 5px #e0b105 solid;
    padding: 3px;
    padding-left: 10px;
    width: 90%;
    font-family: 'Titillium Web', sans-serif;
}

.llegar{
    grid-column: 1/2;
    display: grid;
    grid-template-rows: 20% 80%;
    align-items: center;
    justify-items: center;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 30px;
    margin: 0;
    border-left: 5px #e0b105 solid;
    border-bottom: 5px #e0b105 solid;
    width: 90%;
    justify-self: flex-end;
}

.contacto{
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    border-right: 5px #e0b105 solid;
    border-bottom: 5px #e0b105 solid;
    width: 90%;
    padding-left: 10px;
    padding-right: 3px;
}


.datos{
    grid-column: 1/4;
    display: grid;
    grid-template-columns: 10% 90%;
    justify-self: center;
    align-self: center;
    font-family: 'Titillium Web', sans-serif;
}

.datos img{
    justify-self: end;
}

.titulocontacto{
    margin: 0;
    grid-column: 1/4;
    justify-self: center;
    align-self: center;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 30px;

}

.minitexto{
    margin: 0;
    align-self: center;
    text-align: justify;
  text-justify: inter-word;
  width:95%;
}

.datos img{
    margin-right: 10px;

}

.botonmini{
    height:45px;
    width:90px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
border: solid black 2px;
}

.sede{
    padding:0;
    border: 0;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 50%;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://northernvirginiamag.com/wp-content/uploads/2019/09/gold-feature-2.jpg);
}

.planes{
    padding:0;
    border: 0;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 50%;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://img.etimg.com/photo/msid-74747053,quality-100/for-miles-a-great-bodyweight-workout-would-include-squats-push-ups-walking-lunges-.jpg);
}

.nosotros{
    padding:0;
    border: 0;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 50%;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://www.wellnessliving.com/blog/wp-content/uploads/2019/04/Gym-Staff-Candidates.jpg);
}

.anotate{
    padding:0;
    border: 0;
    padding-right: 3rem;
    padding-left: 3rem;
    width: 50%;
    height: 20rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(https://m8group.co.uk/wp-content/uploads/2020/02/want-a-weight-loss-calorie-burning.jpg);
}

.categorias{
    width: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Dosis', sans-serif;
    font-size: 25px;
    margin: 0;
    background-color: black;
    opacity: 0.75;
    color: white;

}

.texto99{
    font-family: 'Archivo Narrow', sans-serif;
    opacity: 0.9;
    font-size: 15px;
    background-color:#e0b105;
    color: black;
    margin:0;
    margin-bottom: 10px;
}

.linkmenu{
background-color: black;
font-family: 'Dosis', sans-serif;
color: white;
font-size: 20px;
opacity: 0.8;
}

a.linkmenu {
    text-decoration: none;
}

a.linkmenu:visited {
    color:white;
}

a.linkmenu:hover {
    background: red;
    color: black;
    box-shadow: 5px 5px 3px black, -5px -5px 3px black;
}

.introPlan{
    margin: 0;
    grid-column: 1/5;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 50px;
    margin-top: 10px;
    justify-self: center;
}

.descriplan{
    margin: 0;
    grid-column: 1/5;
    align-self: center;
    justify-self: center;
    padding-bottom: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    border-bottom: 5px #e0b105 solid;
    border-top: 5px #e0b105 solid;
}

.despedidaplanes{
    margin: 0;
    grid-column: 1/5;
    justify-self: center;
    align-self: center;
    padding-bottom: 15px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 35px;
    display: flex;
}


a.anotate2 {
    margin: 0;
    text-decoration: none;
    font-size: 35px;
    margin-left: 15px;
    font-weight: bolder;
}

.anotate2 p{
    margin: 0;
    margin-top: 35px;
    margin-bottom: 35px;
    text-decoration: none;
    font-size: 35px;
    font-weight: bolder;
}

a.anotate2:visited {
    margin: 0;
    margin-left: 15px;
    color:black;
}

a.anotate2:hover {
    margin: 0;
    margin-left: 15px;
    color: #e0b105;
}

.clases{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr 1fr;
    border: solid #e0b105 3px;
    border-top: 0;
    border-bottom: 0;
    border-left: 0;
}

.textoclass{
    justify-self: center;
    align-self: center;
}

.textoclass1{
    margin: 0;
    justify-self: center;
    align-self: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 27px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    border-bottom: solid 3px #e0b105;
}

.textoclass2{
    margin: 0;
    justify-self: center;
    align-self: center;
    text-align: justify;
    text-justify: inter-word;
    width: 80%;
    padding-right: 19px;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.textoprecio{
    justify-self: center;
    align-self: center;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.precio{
    margin: 0;
    justify-self: center;
    align-self: center;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 27px;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
}

.monto{
    margin: 0;
}

.Nosotros{
    margin: 0;
    grid-column: 1/3;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 50px;
    margin-top: 10px;
    justify-self: center;
}

.descrinosotros{
    margin: 0;
    grid-column: 1/3;
    align-self: center;
    justify-self: center;
    padding-bottom: 15px;
    font-family: 'Titillium Web', sans-serif;
    text-align: justify;
    text-justify: inter-word;
    font-size: 15px;
    width: 90%;
    border-bottom: 5px #e0b105 solid;
    border-top: 5px #e0b105 solid;
}

.titulos{
    margin: 0;
    grid-column: 1/3;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 40px;
    margin-top: 10px;
    justify-self: center;

}

.titulo2{
    margin: 0;
    grid-column: 1/3;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 40px;
    margin-top: 10px;
    margin-left: 10px;
}


.foto{
    justify-self: flex-end;
    margin-right: 70px;
    align-self: center;
}

.descrinosotros2{
    justify-self: flex-start;
    align-self: center;
    width: 60%;
    display: grid;
    grid-template-rows: 30% 70%;
    row-gap: 10px;
    margin-left: 10px;
}

.persona{
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
}

.todainfo{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.todotexto{
    display: grid;
    grid-template-rows: 30% 70%;
    row-gap: 10px;
    justify-self: flex-start;
    align-self: center;
    width: 80%;
    margin-left: 10px;
}

.persona1{
    margin: 0;
    font-family: 'Libre Baskerville', serif;
    font-size: 30px;
    margin-left: 10px;
}

.comentario1{
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.comentario{
    margin-bottom: 10px;
    text-align: justify;
    text-justify: inter-word;
    font-family: 'Dosis', sans-serif;
    font-weight: bold;
}

.anotatecuestionario{
    width:400px;
    background: black;
    padding: 30px;
    margin:auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: 'Dosis', sans-serif;
    color: #e0b105;
    box-shadow: 7px 13px 37px #e0b105;
    margin-bottom: 20px;
}

.botons{
    width:150px;
    background: black;
    border: solid #e0b105 1px;
    color: #e0b105;
}

.elegir{
    background-color: black;
    border: double #e0b105 1px;
    color: #e0b105;
}

.placeh{
    background-color: black;
    border: double #e0b105 1px;
    color: #e0b105;
}

.tituloanotate{
    margin: 0;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 50px;
    justify-self: center;
    margin-top: 10px;
}

.descrianotate{
    margin: 0;
    font-family: 'Titillium Web', sans-serif;
    font-size: 25px;
    justify-self: center;
    margin-top: 20px;
}

.gracias{
    margin: 0;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: -2px -2px 1px #e0b105, 2px 2px 1px #e0b105, -2px 2px 1px #e0b105, 2px -2px 1px #e0b105;
    font-size: 40px;
    margin-top: 10px;
    align-self: center;
    justify-self: center;
}

.botongracias{
    justify-self: center;
}

.adentroboton:hover {
    cursor: pointer ;
}

.adentroboton{
    width:350px;
    height: 80px;
    background: black;
    border: solid #e0b105 1px;
    color: #e0b105;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 20px;
}